.project{
  background-color: rgb(240, 240, 240);
  margin-top: 3em;
}
.container {
}

body{
  background-color: rgb(240, 240, 240);
}

#output {
  margin-top: 0.7em;
  text-align: center;
  font-size: 2em;
  color: black;
}
